body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px auto;
    margin-bottom: 15px;
    border:  3px solid #ddd;
}

h1 {
    margin-bottom: 0;
}

.subtitle {
    color: #555;
}

h2 {
    padding-bottom: 5px;
    border-bottom: 2px solid #e0e0e0;
}
